<h1 align="center">All Alpha Bloggers</h1>
<div align="center">
  <%= will_paginate %>
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <li>
            <%= link_to gravatar_for(user), user_path(user) %>
          </li>
          <li class="article-title">
            <%= link_to user.username, user_path(user) %>
          </li>
          <li>
            <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
            <% if logged_in? and current_user.admin? %>
              <li><%= link_to "Delete this user", user_path(user), method: :delete,
                      data: { confirm: "Are you sure you want to delete the user and all their articles?" } %>
              </li>
            <% end %>
          </li>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>