<div>
  <div style="background-image: url(https://images.unsplash.com/photo-1530518309799-9db5fc42276b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b784735a7a03b5fee7bf5cc1150957ed&auto=format&fit=crop&w=1375&q=80); height: 500px"></div>
  <div style="text-align: center">
    <h1>About Mitzi's Alpha Blog</h1>
  </div>
  <div style="text-align: center">
    <%= link_to 'View Articles', articles_path %> | <%= link_to 'Home', root_path %>
  </div>
</div>