<div>
  <div style="background-image: url(https://images.unsplash.com/photo-1530518309799-9db5fc42276b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b784735a7a03b5fee7bf5cc1150957ed&auto=format&fit=crop&w=1375&q=80); height: 500px"></div>
  <div class="center jumbotron">
    <h1>Welcome to Mitzi's Alpha Blog!</h1>
    <%= link_to 'Sign up now', signup_path, class: "btn btn-primary btn-lg"%>
  </div>
</div>